.edit-form {
  max-width: 400px;
  margin: auto;
}

.margin-button-left {
  margin-left: 2%;
}

.tooltip-error {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #f8ead7;
  color: #72541c;
  padding: 15px;
  border: 1px solid #f5ebc6;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
}
